<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrUrngt9hTLIKw6t00QuoWzIjOLwdrAlE</string>
	<key>GCM_SENDER_ID</key>
	<string>975017630006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.ForgeFit</string>
	<key>PROJECT_ID</key>
	<string>forgefit-dd2dc</string>
	<key>STORAGE_BUCKET</key>
	<string>forgefit-dd2dc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975017630006:ios:6ad344e4d1099b7762fb97</string>
</dict>
</plist>